/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
    /* default fonts */
    --ion-default-font: "LexendPeta", "Roboto", "Helvetica Neue", sans-serif !important;

    --ion-color-primary: #FC8BDE;
    --ion-color-primary-rgb: 252, 139, 222;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #FC72D7;
    --ion-color-primary-tint: #FCA4E6;

    --ion-color-secondary: #6F00C4;
    --ion-color-secondary-rgb: 111, 0, 196;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #7814C4;
    --ion-color-secondary-tint: #7E00DE;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 242, 61, 100;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #4640FF;
    --ion-color-tertiary-tint: #2D26FF;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
}

  /*
   * Dark Colors
   * -------------------------------------------
   */

body {
    /* background colors */
    --ion-p-background-color: #F7F7FF;
    --ion-p-background-color-rgb: 2, 47, 64;
    --ion-p-background-text-color: #000000;
    --ion-p-background-text-color-rgb: 255, 255, 255;

    --ion-s-background-color: #F3F2FF;
    --ion-s-background-color-rgb: 24, 52, 70;
    --ion-s-background-text-color: #000000;
    --ion-s-background-text-color-rgb: 255, 255, 255;

    --ion-t-background-color: #F7F2FF;
    --ion-t-background-color-rgb: 15, 32, 43;
    --ion-t-background-text-color: #000000;
    --ion-t-background-text-color-rgb: 255, 255, 255;
}

/* dark theme */
body.dark {
    /* background colors */
    --ion-p-background-color: #1f1511;
    --ion-p-background-color-rgb: 2, 47, 64;
    --ion-p-background-text-color: #ffffff;
    --ion-p-background-text-color-rgb: 255, 255, 255;

    --ion-s-background-color: #36251f;
    --ion-s-background-color-rgb: 24, 52, 70;
    --ion-s-background-text-color: #ffffff;
    --ion-s-background-text-color-rgb: 255, 255, 255;

    --ion-t-background-color: #2A1D18;
    --ion-t-background-color-rgb: 15, 32, 43;
    --ion-t-background-text-color: #ffffff;
    --ion-t-background-text-color-rgb: 255, 255, 255;
}

/*
* iOS Dark Theme
* -------------------------------------------
*/

.ios body {
    --ion-background-color: var(--ion-p-background-color);
    --ion-background-color-rgb: var(--ion-p-background-color-rgb);

    --ion-text-color: var(--ion-p-background-text-color);
    --ion-text-color-rgb: var(--ion-p-background-text-color-rgb);

    --ion-color-step-50: var(--ion-t-background-color);
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: var(--ion-p-background-color);

    --ion-card-background: var(--ion-t-background-color);
}

.ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
}

/*
* Material Design Dark Theme
* -------------------------------------------
*/

.md body {
    --ion-background-color: var(--ion-p-background-color);
    --ion-background-color-rgb: var(--ion-p-background-color-rgb);

    --ion-text-color: var(--ion-p-background-text-color);
    --ion-text-color-rgb: var(--ion-p-background-text-color-rgb);

    --ion-border-color: #222222;

    --ion-color-step-50: var(--ion-t-background-color);
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: var(--ion-t-background-color);

    --ion-toolbar-background: var(--ion-s-background-color);

    --ion-tab-bar-background: var(--ion-s-background-color);

    --ion-card-background: var(--ion-t-background-color);
}
