.brand-container {
    width: 32px;
    height: 32px;
    z-index: 1;
}

.brand-container .img {
    background-image: url('https://6f1.github.io/personal-website/assets/icon/icon-light.jpg');
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.dark .brand-container .img {
    background: url('https://6f1.github.io/personal-website/assets/icon/icon.jpg');
    background-size: 100%;
    height: 100%;
    width: 100%;
}
