.clean-image-container {
    height: 100%;
    position: relative;
}

.fake-img {
    z-index: -1;
    background: var(--ion-t-background-color);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.clean-image-img {
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
